@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 19.3% 72.4%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 44% 7%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 231 100% 64.5%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 221.2 45% 13%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 45.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 231 100% 64.5%;
    --radius: 0.75rem;
  }

  .light {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --muted: 217.2 32.6% 92.5%;
    --muted-foreground: 215 19.3% 34.5%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 210 40% 99%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 231 100% 64.5%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 96.1%;
    --secondary-foreground: 222.2 84% 4.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 231 100% 64.5%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }
}
